@import "tailwindcss";

@layer base {
:root {
  --font-display: 'Segoe', sans-serif;
  font-family: var(--font-sans);

  color-scheme: light dark;
  color: var(--color-orange-200);
  background-color: var(--color-orange-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  #root {
    max-width: var(--container-7xl);
    padding: calc(var(--spacing) * 8);
  }
}
